# I am absolutely not going to format any partition. Do it yourself beforehand.

# Never use this:
# clearpart
# autopart

%pre --interpreter=/bin/bash --erroronfail --log=/tmp/ks-pre.log
#!/bin/bash
set -euo pipefail

FEDORA_VERSION=${fillme_FEDORA_VERSION}
NEW_HOSTNAME=${fillme_NEW_HOSTNAME}
# hash for yescrypt (you can use mkpasswd)
NEW_PASSWORD=${fillme_NEW_PASSWORD}

declare -A UUIDS=(
	[esp]=${fillme_ESP_UUID}
	[root]=${fillme_ROOT_UUID}
	[cache]=${fillme_CACHE_UUID}
	[log]=${fillme_LOG_UUID}
	[home]=${fillme_HOME_UUID}
	[swap]=${fillme_SWAP_UUID}
)

# esp partition = efi (not vfat)
declare -A PARTITIONS_FSTYPE=(
	["${UUIDS[esp]}"]=efi
	["${UUIDS[root]}"]=xfs
	["${UUIDS[cache]}"]=xfs
	["${UUIDS[log]}"]=xfs
	["${UUIDS[home]}"]=xfs
	["${UUIDS[swap]}"]=swap
)

# swap: swap
declare -A PARTITIONS_MOUNTPOINT=(
	["${UUIDS[esp]}"]=/boot/efi
	["${UUIDS[root]}"]=/
	["${UUIDS[cache]}"]=/var/cache
	["${UUIDS[log]}"]=/var/log
	["${UUIDS[home]}"]=/home
	["${UUIDS[swap]}"]=swap
)

# current this means block device size. not free size.
# optional
declare -A PARTITIONS_MINIMUM_SIZE=(
	["${UUIDS[esp]}"]=1024
	["${UUIDS[root]}"]=20480
	["${UUIDS[cache]}"]=10240
	["${UUIDS[log]}"]=1024
	["${UUIDS[home]}"]=10240
)

fail()
{
	printf 'ERROR: %s\n' "$*" >&2
	exit 1
}

[[ -d /sys/firmware/efi ]] \
	|| fail "installer was not booted in UEFI mode"

: "${FEDORA_VERSION:?}"
: "${NEW_HOSTNAME:?}"
: "${NEW_PASSWORD:?}"

check_partitions_input()
{
	local -A mountpoints=()
	local efi=0
	local uuid
	for uuid in "${!PARTITIONS_FSTYPE[@]}"
	do
		# Loose version
		# case "$uuid" in
		#	  *[!a-zA-Z0-9-]*) fail "invalid UUID: $uuid"
		# esac

		# Tight version (It will reject partitions like VFAT)
		# early check fstype for efi/vfat
		local fstype
		case "${PARTITIONS_FSTYPE["$uuid"]:-}" in
			'') fail "no fstype for UUID=${uuid}" ;;
			*)
				fstype="${PARTITIONS_FSTYPE["$uuid"]:-}"
				[[ $fstype == efi ]] && efi=$((efi + 1))
				((efi > 1)) && fail "multiple ESP partitions detected"
		esac

		if [[ $fstype == efi || $fstype == vfat ]]
		then
			[[ $uuid =~ ^[0-9A-Fa-f]{4}-[0-9A-Fa-f]{4}$ ]] ||
				fail "invalid FAT UUID: $uuid"
		else
			[[ $uuid =~ ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$ ]] ||
				fail "invalid UUID: $uuid"
		fi

		local mp="${PARTITIONS_MOUNTPOINT["$uuid"]:-}"

		if [[ $fstype == efi ]]
		then
			[[ $mp == /boot/efi ]] ||
				fail "ESP must be mounted at /boot/efi: UUID=$uuid"
		fi

		if [[ $mp == /boot/efi ]]
		then
			[[ $fstype == efi ]] ||
				fail "/boot/efi must have fstype=efi: UUID=$uuid"
		fi

		case "$fstype:$mp" in
			swap:swap)
				;;
			swap:*)
				fail "swap filesystem must use mountpoint=swap: UUID=$uuid"
				;;
			*:swap)
				fail "mountpoint=swap requires fstype=swap: UUID=$uuid"
				;;
			*:/*)
				if [[ ${mountpoints["$mp"]+_} ]]
				then
					fail "mountpoint is duplicated: $mp"
				fi
				mountpoints["$mp"]=1
				;;
			*:'')
				fail "no mountpoint for UUID=${uuid}"
				;;
			*)
				fail "invalid mountpoint for UUID=${uuid}: ${mp}"
				;;
		esac

		# minimum size is a option
		# case "${PARTITIONS_MINIMUM_SIZE["$uuid"]:-}" in
		#	  '') fail "no minimum size for UUID=${uuid}" ;;
		# esac

		uuid=
		for uuid in "${!PARTITIONS_MOUNTPOINT[@]}"
		do
			case "${PARTITIONS_FSTYPE["$uuid"]:-}" in
				'') fail "no fstype for UUID=${uuid}" ;;
			esac
		done

		uuid=
		for uuid in "${!PARTITIONS_MINIMUM_SIZE[@]}"
		do
			case "${PARTITIONS_FSTYPE["$uuid"]:-}" in
				'') fail "no fstype for UUID=${uuid}" ;;
			esac
		done
	done

	((!efi)) \
		&& fail "exactly one ESP partition is required"

	[[ ${mountpoints["/"]+_} ]] ||
		fail "root mountpoint / is missing"

	[[ ${mountpoints["/boot/efi"]+_} ]] ||
		fail "ESP mountpoint /boot/efi is missing"

}

check_unique_uuid()
{
	local uuid
	for uuid in "$@"
	do
		local -a devs=()
		mapfile -t devs < <(
			blkid -t "UUID=$uuid" -o device 2>/dev/null
		)

		case ${#devs[@]} in
			0) fail "UUID not found: $uuid" ;;
			1) ;;
			*) fail "UUID is not unique: $uuid -> ${devs[*]}" ;;
		esac
	done
}

check_fstype()
{
	: "${1:?uuid for check_fstype()}"

	local uuid
	for uuid in "$@"
	do
		local expected="${PARTITIONS_FSTYPE["$uuid"]}"
		[[ $expected == efi ]] && expected=vfat

		local dev actual
		dev="$(blkid -U "$uuid" 2>/dev/null)" \
			|| fail "UUID not found: $uuid"
		[[ -z $dev ]] \
			&& fail "empty device for UUID=$uuid"

		actual="$(blkid -s TYPE -o value "$dev" 2>/dev/null)" \
			|| fail "failed to get fstype: $dev"
		[[ -z $actual ]] \
			&& fail "empty fstype for $dev (UUID=$uuid)"

		[[ $actual != "$expected" ]] \
			&& fail "$dev ($uuid): expected $expected, got $actual"

		printf '%s -> %s (%s)\n' "$uuid" "$dev" "$actual"
	done
}

check_minimum_device_size()
{
	: "${1:?uuid for check_minimum_blocksize()}"

	local uuid
	for uuid in "$@"
	do
		local expected="${PARTITIONS_MINIMUM_SIZE["$uuid"]:-}"
		[[ -z $expected ]] && continue

		local dev size
		dev="$(blkid -U "$uuid" 2>/dev/null)" \
			|| fail "UUID not found: $uuid"
		[[ -z $dev ]] \
			&& fail "epmty device for UUID=$uuid"

		size="$(blockdev --getsize64 "$dev" 2>/dev/null)" \
			|| fail "failed to get block size: $dev (UUID=$uuid)"
		[[ -z $size ]] \
			&& fail "empty size for $dev (UUID=$uuid)"

		# blocksize. not free size
		(( size < 1024 * 1024 * expected )) &&
			&& fail "$dev ($uuid): ${size} bytes, requires at least ${expected} MiB"
	done
}

main() {
	cat <<EOF >/tmp/setup.ks
url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-${FEDORA_VERSION}&arch=x86_64"
repo --name="updates" \
	--mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f${FEDORA_VERSION}&arch=x86_64"

text
firstboot --disable

lang C.UTF-8
keyboard --vckeymap=us --xlayouts='us'
timezone Etc/UTC --utc

network --bootproto=dhcp --device=link --activate
network --hostname="$NEW_HOSTNAME"

rootpw --iscrypted="$NEW_PASSWORD"

# --sdboot >= fedora 39
bootloader --sdboot
firewall --enabled
selinux --enforcing
EOF

	check_partitions_input
	check_unique_uuid "${!PARTITIONS_MOUNTPOINT[@]}"
	check_fstype "${!PARTITIONS_MOUNTPOINT[@]}"
	check_minimum_device_size "${!PARTITIONS_MOUNTPOINT[@]}"

	local uuid partitions
	for uuid in "${!PARTITIONS_MOUNTPOINT[@]}"
	do
		# line continuations(/) will be removed
		partitions="${partitions:-}part ${PARTITIONS_MOUNTPOINT["$uuid"]} \
--fstype=${PARTITIONS_FSTYPE["$uuid"]} \
--onpart=UUID=${uuid} \
--noformat
"
	done

	printf '%s\n' "$partitions" >/tmp/partitions.ks
}

main

%end

%include /tmp/setup.ks
%include /tmp/partitions.ks

reboot

%packages
@^minimal-environment
@standard

mesa-dri-drivers
mesa-vulkan-drivers

iwd
NetworkManager
NetworkManager-tui
NetworkManager-wifi
dnsmasq

systemd-boot
git
vim-enhanced
tmux
rsync
bash-completion

-*plymouth*
%end

# manually install systemd-boot (<= fedora 38)
# bootloader --location=none
#
# %post --erroronfail --log=/root/ks-post.log
# set -euo pipefail
#
# cat >/etc/kernel/install.conf <<'EOF'
# BOOT_ROOT=/boot/efi
# layout=bls
# EOF
#
# bootctl install
# kernel-install add-all
#
# bootctl status
# %end

# vim:syntax=spec:ts=4:sw=4:noet:
